<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.skripsi">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".Gharib.DetailBacaanGharib"></activity>
        <activity android:name=".Rukun.DetailGharibActivity" />
        <activity android:name=".Rukun.GharibActivity" />
        <activity android:name=".Gharib.GharibActivityMain" />
        <activity android:name=".GharibBacaan.DetailActitvity" />
        <activity android:name=".GharibBacaan.GharibActivity2" />
        <activity android:name=".GharibNew.DetailActivity" />
        <activity android:name=".GharibNew.GharibActivity2" />
        <activity android:name=".Ghorib.Gharib" />
        <activity android:name=".Ghorib.GharibActivity" />
        <activity
            android:name=".quiz.Model.ResultActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Fasur.FawasActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".quiz.KuisActivity2"
            android:screenOrientation="landscape" />
        <activity android:name=".Fasur.MadActivity" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Fasur.Fawas_activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Recording.record_activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Belajar.hijaiyyah_activity"
            android:screenOrientation="landscape" />
        <activity android:name=".Databases.TampilkanData" />
        <activity android:name=".Databases.EditData" />
        <activity android:name=".Databases.LihatData" />
        <activity android:name=".Databases.MainActivityDatabase" />
        <activity
            android:name=".quiz.skor_kuis"
            android:screenOrientation="landscape" />
        <activity
            android:name=".quiz.KuisActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>